In [41]:
# -*- coding: utf-8 -*-
import sqlite3

In [42]:
db = sqlite3.connect('../dataset/mydb.db')  # Connect to the database    
c = db.cursor() # Get a cursor object

In [43]:
def print_uni_rows(rows):
    '''
    设定一个函数来打印查询的结果，以 unicode 的形式
    '''
    for row in rows:
        string = '|'
        # 遍历每一行元组的值
        for ind in range(len(row)):
            # 链接编码后的字符串
            string += unicode(row[ind]) + '| '
        # 打印出该行字符串
        print string

In [44]:
query = "SELECT COUNT(*) FROM nodes;"
c.execute(query)
rows=c.fetchall()
print "|nodes 数量查询结果|"   
print "|------------------|"
print_uni_rows(rows)

|nodes 数量查询结果|
|------------------|
|400770|

In [45]:
query = "SELECT COUNT(*) FROM ways;"
c.execute(query)
rows=c.fetchall()
print "|ways 数量查询结果|"   
print "|-----------------|"
print_uni_rows(rows)

|ways 数量查询结果|
|-----------------|
|50217|

In [46]:
query="""
SELECT COUNT(DISTINCT(sq.uid)) as 'Number of unique users'           
FROM (SELECT uid FROM nodes UNION ALL SELECT uid FROM ways) as sq;
"""
c.execute(query)
rows=c.fetchall()
print "|唯一用户数量查询结果|"   
print "|--------------------|"
print_uni_rows(rows)

|唯一用户数量查询结果|
|--------------------|
|907|

In [47]:
query="""
SELECT e.user, COUNT(*) as num
FROM (SELECT user FROM nodes UNION ALL SELECT user FROM ways) e
GROUP BY e.user
ORDER BY num DESC
LIMIT 10;
"""
c.execute(query)
rows=c.fetchall()
print "|贡献前 10 用户查询结果|"   
print "|----------------------|"
print_uni_rows(rows)

|贡献前 10 用户查询结果|
|----------------------|
|hlaw| 150311|
|KX675| 34879|
|FlyTy| 29769|
|Philip C| 21372|
|R17466| 18735|
|Wrightbus| 18673|
|jc86035| 13973|
|cartogram| 12350|
|eversone| 11475|
|bTonyB| 8980|

In [48]:
query="""
SELECT nodes_tags.value, COUNT(*) as num
FROM nodes_tags
    JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='cafe') i
    ON nodes_tags.id=i.id
WHERE nodes_tags.key='name'
GROUP BY nodes_tags.value
ORDER BY num DESC
LIMIT 10;
"""
c.execute(query)
rows=c.fetchall()
print "|前 10 咖啡馆查询结果|"   
print "|-------------------|"
print_uni_rows(rows)

|前 10 咖啡馆查询结果|
|-------------------|
|星巴克咖啡 Starbucks Coffee| 30|
|太平洋咖啡 Pacific Coffee| 24|
|Starbucks| 23|
|Pacific Coffee| 5|
|Starbucks Coffee| 3|
|Délifrance| 2|
|Pacific Coffee Company| 2|
|Paradise| 2|
|新釗記| 2|
|18 grams| 1|

In [49]:
query="""
SELECT nodes_tags.value, COUNT(*) as num
FROM nodes_tags
    JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='fast_food') i
    ON nodes_tags.id=i.id
WHERE nodes_tags.key='name'
GROUP BY nodes_tags.value
ORDER BY num DESC
LIMIT 10;
"""
c.execute(query)
rows=c.fetchall()
print "|快餐前 10 查询结果|"   
print "|------------------|"
print_uni_rows(rows)

|快餐前 10 查询结果|
|------------------|
|麥當勞 McDonald's| 63|
|McDonald's| 29|
|大家樂 Café de Coral| 25|
|吉野家 Yoshinoya| 10|
|肯德基 KFC| 10|
|大快活 Fairwood| 9|
|KFC| 8|
|Maxim MX| 5|
|賽百味 Subway| 4|
|Subway| 3|

In [50]:
query="""
SELECT nodes_tags.value, COUNT(*) as num
FROM nodes_tags 
    JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='restaurant') i
    ON nodes_tags.id=i.id
WHERE nodes_tags.key='cuisine'
GROUP BY nodes_tags.value
ORDER BY num DESC
Limit 10;
"""
c.execute(query)
rows=c.fetchall()
print "|前 10 菜系查询结果|"   
print "|------------------|"
print_uni_rows(rows)

|前 10 菜系查询结果|
|------------------|
|chinese| 73|
|japanese| 39|
|noodle| 25|
|pizza| 20|
|indian| 17|
|noodles| 14|
|thai| 14|
|american| 11|
|sushi| 11|
|vegetarian| 11|